/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");

body {
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: white;
  background-color: cornflowerblue;
}

.box {
  width: 25%;
  min-height: 20rem;
  background: radial-gradient(
    circle,
    rgba(30, 11, 112, 0.64) 0%,
    rgba(175, 94, 255, 1) 100%
  );
  margin-bottom: 1rem;
}