/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");

body {
  font-family: "Rubik", sans-serif;
  color: #1e0b70;
  background-color: #f3f3f3;
  margin: 0;
}


h1 {
  font-family: "rubik", sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 80px;
  padding-bottom: 10px;
}

h2 {
  font-weight: normal;
  font-size: 25px;
}

.block-title { 
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.flex-margin-1col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1080px;
}
