/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  padding: 1rem;
}

header {
  font-family: "Anton", sans-serif;
  font-weight: 600;
  color: black;
  font-size: 4rem;
}
h2 {
  font-family: "quicksand", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  background-color: antiquewhite;
  display: left;
}
h3 {
  font-family: "quicksand", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.title {
  display: flex;
  justify-content: center;
}
.decor {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.links {
  width: 50%;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.contactsection {
  border-bottom: 2px solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.experience {
  border-bottom: 2px solid black;
}

.education {
  border-bottom: 2px solid black;
}

.paragraph-md {
  font-size: 1rem;
  color: black;
  font-family: "quicksand";
  padding-bottom: 1rem;
}
.paragraph-sm {
  font-family: "quicksand";
  font-size: 0.75rem;
  color: black;
  font-weight: 100;
}
