/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  padding: 1rem;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}
.indexpage {
  background-color: aqua;
  background-image: url(daisies.jpg);
}
.intro {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}
.title {
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  color: rgb(128, 174, 162);
}
a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(47, 47, 47);
}
.buttonlink {
  border-radius: 100px;
  display: inline-block;
  background-color: rgb(211, 155, 70);
  padding: 0.5rem;
  background-size: 20px;
}
.buttonlink:hover {
  background-color: white;
  color: rgb(211, 155, 70);
}
.decor {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding-top: 0.5rem;
}
br {
  display: flex;
  justify-content: center;
}
.links {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
header {
  font-family: "Anton", sans-serif;
  font-weight: 600;
  color: black;
  font-size: 4rem;
}
button {
  display: flex;
  border-radius: 100px;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  padding: 0.5rem;
  align-items: center;
  width: 70%;
}
button:hover {
  background-color: rgb(251, 158, 158);
  color: white;
}
h2 {
  font-family: "quicksand", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  display: left;
}
h3 {
  font-family: "quicksand", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.contactsection {
  border-bottom: 2px solid black;
  padding: 1rem;
}
.experience {
  border-bottom: 2px solid black;
  padding: 1rem;
}

.education {
  border-bottom: 2px solid black;
  padding: 1rem;
}

.paragraph-md {
  font-size: 1rem;
  color: black;
  font-family: "quicksand";
  padding-bottom: 1rem;
}
.paragraph-sm {
  font-family: "quicksand";
  font-size: 0.75rem;
  color: black;
  font-weight: 100;
}
.wrapper {
  border: 10px solid white;
  border-radius: 3rem;
  padding: 3rem;
  background-color: rgb(202, 227, 165);
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    display: flex;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    padding: 0.5rem;
    align-items: center;
    width: 100%;
  }
  button:hover {
    background-color: rgb(251, 158, 158);
  }
  h2 {
    font-family: "quicksand", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contactsection {
    border-bottom: 2px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
  }

  .experience {
    border-bottom: 2px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
  }

  .education {
    border-bottom: 2px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
  }
  .experience-1,
  .experience-2,
  .education-1,
  .education-2,
  .contact-1,
  .contact-2 {
    width: 50%;
    background: rgb(255, 255, 255);
  }
}
