/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* General Styles */
header {
  background: tomato;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  color: blanchedalmond;
  font-size: 5rem;
  font-style: normal;
  padding: 0.25rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  margin-bottom: 1rem;
}
/* Header Section */

/* Hyperlink Styles */

a {
  color: blanchedalmond;
  text-decoration: none;
}
a:hover {
  color: tomato;
}
a {
  font-size: 2rem;
}
/* General Paragraph Styles */

/* Paragraph Style */
.Paragraph-md {
  font-size: 0.8rem;
  color: blanchedalmond;
  padding: 0.25rem;
  margin-bottom: 2rem;
}
.Paragraph-lg {
  font-size: 1rem;
  color: blanchedalmond;
  padding: 0.25rem;
}
.Paragraph-sm {
  font-size: 0.8rem;
  color: orange;
  padding: 0.25rem;
}

/* Specific Class Styles */
.edusummary {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  color: #ffebcd;
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  margin-top: 2rem;
}
.Paragraph-mdhero {
  font-size: 0.8rem;
  color: blanchedalmond;
  padding: 0.25rem;
}
/* End of Header */
.education {
  font-size: 1.5rem;
  background: orange;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.skills {
  background: blanchedalmond;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.experience {
  background: seagreen;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.educertification {
  background: indianred;
  padding: 2rem;
}
.edufooter {
  background: darkslategray;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 13vh;
}
/* End of Sections* */

/* Section Headers */

.edutitle {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  color: #ffebcd;
  padding: 0.25rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.eduskills {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  color: orange;
  padding: 0.25rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.eduexp {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  color: blanchedalmond;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
/* End of Section Headers */
/* Section Sub-Headers */
.eduheader {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 200;
  font-size: 3;
  color: blanchedalmond;
  padding: 0.25rem;
}
/* End of Section Sub-Headers */
/* Lists */
.eduskillist {
  font-size: 1rem;
  color: orange;
  padding: 0.25rem;
  margin-bottom: 1rem;
}

/* End of Lists. */

.resume-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.education,
.skills,
.experience,
.educertification {
  width: 100%;
}
/* CSS For Index */

/* Sections for Index */

.indhero {
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.indherosubheader {
  font-size: 5rem;
  padding: 2rem;
}

.indsubheader {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 200;
  font-size: 3rem;
  color: blanchedalmond;
  padding: 0.25rem;
}

.indherobody {
  color: blanchedalmond;
  padding: 1rem;
}

.webringhero {
  background: orange;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Web ring nav notes

<ul class=Wrapper for webring links">
<li> Webring link 1 <li>
<li> Webring link 2 <li>
<li> Webring link 3 <li>
</ul> */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .resume-wrapper {
    flex-direction: row;
  }

  .education,
  .skills,
  .educertification {
    width: 50%;
  }
}
