/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap");

h1 {
  font-family: Major Mono Display;
  font-size: 6.5rem;
  color: whitesmoke;
}

header {
  background-color: cornflowerblue;
  padding: 2rem;
}

h2 {
  font-family: Josefin Sans;
  font-size: 3rem;
  font-weight: 300;
  color: cornflowerblue;
  padding: 0.5rem;
}

h3,
h5 {
  font-family: Josefin Sans;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0.5rem;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem;
}

h4 {
  font-family: Josefin Sans;
  font-size: 1.5rem;
  font-weight: 300;
}

li {
  font-family: Josefin Sans;
  font-size: 1.25rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
}

ul,
h4 {
  padding: 0.5rem;
}

.experience {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-end;
}
