/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");

.homepage {
  box-sizing: border-box;
  justify-items: center;
  width: 100%;
}

header {
  background-color: lavender;
  padding-top: 8rem;
  padding-bottom: 8rem;
  width: 100%;
  justify-items: center;
}

#rtitle {
  font-family: Bagel Fat One;
  font-size: 8rem;
  margin: 3rem;
}

#rh2 {
  font-size: 2rem;
  font-family: Josefin Sans;
}
.linkbutton {
  font-size: 2rem;
  font-family: Josefin Sans;
  text-align: center;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 2rem;
  border: 0.25rem solid lavender;
  border-radius: 1.5rem;
  color: black;
}

.linkbutton:hover {
  font-size: 2rem;
  font-family: Josefin Sans;
  text-align: center;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 2rem;
  background-color: lavender;
  border-radius: 1.5rem;
  color: black;
}
