/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-family: Josefin Sans;
  font-weight: 300;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Very General Element Styles */
h1 {
  font-family: Bagel Fat One;
  font-size: 8rem;
  margin: 3rem;
}

h2 {
  font-family: Josefin Sans;
  font-size: 1.5rem;
  margin: 0.5rem;
}

h3 {
  font-size: 3rem;
  margin: 1rem;
  font-weight: 400;
}

h4 {
  font-size: 1.5rem;
  margin: 0.5rem;
  font-weight: 300;
}

h5 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
/*Web Ring Homepage*/

header {
  color: lightcyan;
  padding-top: 8rem;
  padding-bottom: 5rem;
  width: 100%;
  justify-items: center;
  margin-bottom: 1rem;
  flex: 1; /* Take up all available room */
}
.about-me {
  width: 100%;
  padding: 1rem auto;
}

.buttongroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.webringinfo {
  background-color: lightcyan;
  padding: 1rem;
  width: 100%;
}

h3,
h4,
p {
  font-family: Josefin Sans;
}

/* Specific Class Styles */

.homepage {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  text-align: center;
  min-height: 100vh;
  background-image: url(nightsky.jpg);
}

.linkbutton {
  font-size: 2rem;
  font-family: Josefin Sans;
  text-align: center;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 2rem;
  border: 0.25rem solid lightcyan;
  border-radius: 1.5rem;
  color: lightcyan;
  text-decoration: none;
}

.webringlink {
  text-decoration: none;
  color: teal;
}
.webringlink:hover {
  text-decoration: underline;
}

.linkbutton:hover {
  font-size: 2rem;
  font-family: Josefin Sans;
  text-align: center;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 2rem;
  background-color: lightcyan;
  border-radius: 1.5rem;
  color: black;
}

.about-me h3 {
  font-size: 2rem;
}

/*resume*/

/* Very General Element Styles */

.resume h1 {
  color: black;
}

/* Specific Class Styles */

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .buttongroup {
    flex-direction: row;
  }
}

/* make homepage look like space, have moon and starts */
