/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Very General Element Styles */

header {
  background-color: lavender;
  padding-top: 8rem;
  padding-bottom: 5rem;
  width: 100%;
  justify-items: center;
  margin-bottom: 1rem;
  flex: 1; /* Take up all available room */
}
.about-me {
  width: 100%;
  padding: 1rem auto;
}

.buttongroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.webringinfo {
  background-color: lavender;
  padding: 1rem;
  width: 100%;
}

h2,
h3,
h4,
p {
  font-family: Josefin Sans;
}

/* Specific Class Styles */

.homepage {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  text-align: center;
  min-height: 100vh;
}

.linkbutton {
  font-size: 2rem;
  font-family: Josefin Sans;
  text-align: center;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 2rem;
  border: 0.25rem solid lavender;
  border-radius: 1.5rem;
  color: black;
  text-decoration: none;
}

.webringlink {
  text-decoration: none;
}
.webringlink:hover {
  text-decoration: underline;
}

.linkbutton:hover {
  font-size: 2rem;
  font-family: Josefin Sans;
  text-align: center;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 2rem;
  background-color: lavender;
  border-radius: 1.5rem;
  color: black;
}

.about-me h3 {
  font-size: 2rem;
}

#rtitle {
  font-family: Bagel Fat One;
  font-size: 8rem;
  margin: 3rem;
}

#rh2 {
  font-size: 2rem;
  font-family: Josefin Sans;
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .buttongroup {
    flex-direction: row;
  }
}
