/* Typography imported from Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Very General Element Styles */
h1 {
  font-family: "Bagel Fat One", system-ui;
  font-size: 5rem;
  margin: 3rem;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  margin: 1rem auto;
}

h3 {
  font-size: 3rem;
  margin: 1rem auto;
  font-weight: 400;
  color: midnightblue;
}

h4 {
  font-size: 1.5rem;
  margin: 0.5rem auto;
  font-weight: 300;
}

h5 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

h3,
h4,
p {
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
  color: teal;
  font-size: 1rem;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 1.5rem;
  margin: 1rem;
}

li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

ul {
  margin-bottom: 2rem;
}
/*Web Ring Homepage*/

.homepageheader {
  color: lightcyan;
  padding-top: 8rem;
  padding-bottom: 5rem;
  width: 100%;
  justify-items: center;
  margin-bottom: 1rem;
  flex: 1; /* Take up all available room */
}

.about-me {
  width: 100%;
  padding: 1rem auto;
}

.buttongroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.webringinfo {
  background-color: lightcyan;
  width: 100%;
  font-size: 1rem;
}

/* Specific Class Styles */

.homepage {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  text-align: center;
  min-height: 100vh;
  background-image: url(nightsky.jpg);
  background-size: cover;
}

.linkbutton {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 2rem;
  border: 0.25rem solid lightcyan;
  border-radius: 1.5rem;
  color: lightcyan;
  text-decoration: none;
}

.linkbutton:hover {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 2rem;
  background-color: lightcyan;
  border-radius: 1.5rem;
  color: black;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.education {
  padding-left: 1rem;
  margin-bottom: 3rem;
}

.skills {
  padding-left: 1rem;
  margin-bottom: 3rem;
}

.experience {
  padding-left: 1rem;
  padding-bottom: 2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.about-me h3 {
  font-size: 2rem;
}

.resume {
  color: midnightblue;
  justify-items: center;
  padding: 1rem auto;
  margin: 1rem auto;
}

.photolink {
  font-size: 1.5rem;
  color: lightcyan;
}

.lunaphoto {
  max-width: 100%;
  height: auto;
  display: block;
}
#rh2 {
  color: lightcyan;
  font-size: 2rem;
  margin-top: 1rem;
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  h1 {
    font-size: 8rem;
  }

  .buttongroup {
    flex-direction: row;
  }

  .information {
    flex-direction: row;
    text-align: center;
    margin-bottom: 1rem;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
  }

  .knowledge {
    margin-left: 2rem;
  }

  .experience {
    width: 75%;
    border-left: 0.25rem solid black;
    margin-left: 2rem;
    padding-left: 2rem;
  }

  .education {
    border-bottom: 0.25rem solid black;
  }
}
