/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
body {
  font-family: "Rubik", sans-serif;
}

header {
  background: lightblue;
  padding: 2rem;
}
.education {
  background: pink;
  padding: 2rem;
}
.skills {
  background: lightpink;
  padding: 2rem;
}
.paragraph-md {
  font-size: 1.3rem;
  color: lightpink;
}
.paragraph-sm {
  font-size: 1rem;
  color: darkblue;
}
h1 {
  font-family: "Lora", serif;
  font-weight: 600;
  color: lightpink;
  font-size: 5rem;
}
h2 {
  font-family: "Lora", serif;
  font-weight: 600;
  color: lemonchiffon;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.certifications {
  background: lightpink;
  padding: 2rem;
}
.experience {
  background: pink;
  padding: 2rem;
}

/* Home page styles */

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right bottom,
    #7b4bd2,
    #9456d4,
    #aa62d6,
    #bd6fd9,
    #cf7ddc,
    #c28fec,
    #b6a0f7,
    #acafff,
    #81c1ff,
    #62cfff,
    #63daef,
    #7ee1db
  );
}
.hero-title {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: rgba(79, 6, 237, 0.942);
}
