/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
body {
  font-family: "Rubik", sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* General and Global Style */
body {
  background: rgb(225, 162, 225);
  padding: 2rem;
  margin-top: 4rem;
  background-image: url("Cheetah.jpg");
}
header {
  background: lightblue;
  padding: 2rem;
}
h1 {
  font-family: "Lora", serif;
  font-weight: 600;
  color: rgb(209, 144, 202);
  font-size: 3rem; /* Heading 1 size for mobile */
  text-align: center;
}

h2 {
  font-family: "Lora", serif;
  font-weight: 600;
  color: lemonchiffon;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

h3 {
  font-weight: 600;
  font-size: 1.3rem;
  padding: 1rem;
  text-align: center;
}

h4 {
  font-weight: 400;
  font-size: 1.3rem;
  padding: 1rem;
  text-align: center;
}

/* Specific Styles */
.paragraph-md {
  font-size: 1.3rem;
  color: lightpink;
}

.paragraph-sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lora", serif;
  font-weight: 400;
  color: lemonchiffon;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* Home page styles */

.hero {
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right bottom,
    #7b4bd2,
    #9456d4,
    #aa62d6,
    #bd6fd9,
    #cf7ddc,
    #c28fec,
    #b6a0f7,
    #acafff,
    #81c1ff,
    #62cfff,
    #63daef,
    #7ee1db
  );
}
.hero-title {
  font-size: 5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  color: rgba(77, 36, 94, 0.942);
  font-family: "Lora", serif;
  font-weight: 600;
  text-align: center;
}

.sections {
  border: 5px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.education {
  background: pink;
  padding: 2rem;
  width: 100%;
}

.skills {
  background: rgba(235, 144, 236, 0.712);
  padding: 2rem;
  width: 100%;
}

.experience {
  background: rgb(180, 96, 225);
  padding: 2rem;
  width: 100%;
}

.certifications {
  background: rgb(177, 50, 202);
  padding: 2rem;
  width: 100%;
}

.webringnavigation {
  border: 4px solid rgb(123, 31, 184);
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: 1rem;
  font-weight: 800;
  font-size: 1.3rem;
  padding: 1rem;
  background: lemonchiffon;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
}

.index {
  background-image: url("https://i.pinimg.com/736x/68/6a/79/686a79e45003748a0c8a54c5a4652a9b.jpg");
  width: 100%;
  padding: 1rem;
}
.sparkle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}

/* DESKTOP ONLY BELOW - MOBILE AND GLOBAL ABOVE */

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 5rem; /* Heading 1 size for desktop */
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.3rem;
  }
  .sections {
    flex-direction: row;
  }
  .paragraph-sm {
    font-size: 2rem;
    font-weight: 600;
    flex-direction: row;
  }
}
