/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
body {
  font-family: "Rubik", sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  background: lightblue;
  padding: 2rem;
}
.paragraph-md {
  font-size: 1.3rem;
  color: lightpink;
}
.paragraph-sm {
  font-size: 1rem;
  color: black;
}
h1 {
  font-family: "Lora", serif;
  font-weight: 600;
  color: lightpink;
  font-size: 5rem;
  text-align: center;
}
h2 {
  font-family: "Lora", serif;
  font-weight: 600;
  color: lemonchiffon;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.certifications {
  background: lightpink;
  padding: 2rem;
}
.experience {
  background: pink;
  padding: 2rem;
}

/* Home page styles */

.hero {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right bottom,
    #7b4bd2,
    #9456d4,
    #aa62d6,
    #bd6fd9,
    #cf7ddc,
    #c28fec,
    #b6a0f7,
    #acafff,
    #81c1ff,
    #62cfff,
    #63daef,
    #7ee1db
  );
}
.hero-title {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: rgba(79, 6, 237, 0.942);
}

@media only screen and (min-width: 992px) {
  body {
    background: lightpink;
    padding: 1rem;
  }
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sections {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.paragraph-sm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.education {
  background: pink;
  padding: 2 rem;
  width: 100%;
}
.skills {
  background: lightpink;
  padding: 4rem;
  width: 200%;
}
.experience {
  background: lightpink;
  padding: 4rem;
  width: 300%;
}
.certifications {
  background: lightpink;
  padding: 2rem;
  width: 200%;
}
.list {
  display: flex;
  padding: 2rem;
  height: 300px;
  width: 100%;
}

h3 {
  font-weight: 600;
  font-size: 1.3rem;
  padding: 1rem;
  text-align: center;
}
