/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Rubik", sans-serif;
  padding: 1rem;
}
h1 {
  font-family: "Jost", sans-serif;
  font-size: 5rem;
  text-align: center;
}
header {
  background: lightblue;
  padding: 2rem;
}

.education {
  background: goldenrod;
  padding: 2rem;
}
.skills {
  background: pink;
  padding: 2rem;
}
.paragraph-md {
  font-size: 1.3rem;
  color: green;
}
.paragraph-sm {
  font-size: 0.8rem;
  color: black;
}
.work {
  background: hotpink;
  padding: 2rem;
}
h2 {
  font-family: "Jost", sans-serif;
  font-size: 2rem;
  margin-bottom: 0.35rem;
}
.subheader {
  font-weight: 400;
  color: black;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 0.95rem;
}
.skills h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.35rem;
  margin-top: 0.35rem;
}
.education h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.35rem;
  margin-top: 0.35rem;
}
.work h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.35rem;
  margin-top: 0.35rem;
}
