/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Rubik", sans-serif;
  padding: 1rem;
}
h1 {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: <900>;
}
header {
  background: lightblue;
  padding: 2rem;
}

.education {
  background: goldenrod;
  padding: 2rem;
}
.skills {
  background: pink;
  padding: 2rem;
}
.paragraph-md {
  font-size: 1.3rem;
  color: green;
}
.paragraph-sm {
  font-size: 0.8rem;
  color: blue;
}
