@font-face {
    font-family: 'rainyhearts';
    src: url('rainyhearts.woff2') format('woff2'),
        url('rainyhearts.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

