/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Styling Variables */
:root {
  --accent-color: #555;
  --body-typeface: "Rubik", sans-serif;
  --main-heading: "Staatliches", cursive;
  --gradient: linear-gradient(45deg, rgb(36, 170, 219), #0c779e);
}

body {
  font-family: var(--body-typeface);
  color: #222;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Making all images responsive */
img {
  max-width: 100%;
  height: auto;
}

/* Typography */

h1 {
  font-size: 5rem;
  font-family: var(--main-heading);
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 3.5rem;
  font-family: var(--main-heading);
  margin-bottom: 1.5rem;
  color: white;
}

.subheading {
  color: black;
}

h3 {
  font-size: 2rem;
  font-family: var(--main-heading);
  margin-bottom: 1.5rem;
  color: white;
}

p,
li {
  font-size: 1.325rem;
  font-family: var(--body-typeface);
  margin-bottom: 0.2rem;
  line-height: 1.3;
  text-align: center;
}

.student {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-link {
  display: block;
  font-size: 1.225rem;
  font-family: var(--body-typeface);
  margin-bottom: 1rem;
  line-height: 1.2;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 3px solid white;
  background: rgba(36, 170, 219, 1);
  text-align: center;
}
.navigation-link:hover {
  background: white;
  border: 3px solid rgba(36, 170, 219, 1);
}
.hero-headline {
  color: white;
}

/* Hyperlink Styles */
a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

a:hover {
  color: black;
}

p,
li {
  margin-bottom: 1rem;
}

/* Work Page Layout */

/* Intro Section */

.intro-section {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 120s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.hero-headline-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 85%;
  color: white;
}

.explore-ring {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffc83d;
  padding: 3rem;
}

.student-hub {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 3rem;
}

.what-is-webring {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: var(--gradient);
  padding: 3rem;
}
.about-project {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffc83d;
  padding: 3rem;
}
.how-it-works {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: var(--gradient);
  padding: 3rem;
}

.text-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 85%;
}

.main-footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 85%;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  padding: 1rem;
}
