/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;

}


/* Styling Variables */
:root {
  --accent-color: #555;
  --black: #252249; 
  --button-red: #fe0d0d; 
  --off-white: #fef3e7;
  --dark-red: #76240A;  
  --stark-blue: #e8eaff; 
  --body-typeface: "Rubik", sans-serif;
  --main-heading: "Staatliches", cursive;
  --gradient: linear-gradient(45deg, #f17c58, #e94584, #24aadb, #27dbb1, #ffdc18, #ff3706);
}

body {
  font-family: var(--body-typeface);
  display: flex;
  flex-direction: column;
  min-height: 120vh;
}

/* Making all images responsive */
img {
  max-width: 100%;
  height: auto;
}

/* Typography */

h1 {
  font-size: 28vw;
  font-family: var(--main-heading);
  margin-bottom: 1.5rem;
  font-weight: 900; 
  line-height: .9;

}
h2{
  font-size: 3vw; 
  color: var(--off-white); 
  padding-bottom: 10vh; 
}

p {
  font-size: 2vw;
  font-family: var(--body-typeface);
  margin-bottom: 0.2rem;
  line-height: 1.2;
}

.fa-brands{
  font-size: 5vw;  
  color: var(--off-white); 

}

.fa-house{
  font-size: 3vw;
     background: radial-gradient( var(--button-red)20%, var(--black)); 
    -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  
}


.hero-headline {
  background: radial-gradient(white 5%, #FFE6D0 10%, var(--button-red) 27%, var(--dark-red) 40%, #072733);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* Hyperlink Styles */
a {
  text-decoration: none;
}
a:hover {
  color: white;
  text-shadow: 0 0 1rem var(--stark-blue), 0 0 2rem #fff, 0 0 3rem;
}

p {
  margin-bottom: 1rem;
}

/* Work Page Layout */

/* Hero */
.social-media{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items:center; 
  width: 30%; 
}

.hero-headline{
  color: var(--black); 
}
.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: 600%;
  background-image: url(https://media1.tenor.com/m/nANqORN7qhQAAAAd/explosion-explode.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  animation: bg-animation 6s ease-in-out;
}

@keyframes bg-animation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.hero-headline-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
}

.home-button{
   display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  text-align: flex-start;
  width: 100%; 
  padding: 4vw; 
  gap: 2vw; 
}

.next-page{
  color: var(--stark-blue); 
}
