/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  padding: 1rem;
}
.link {
  background-color: white;
  padding: 0.7rem;
  border: 2px solid rgb(63, 0, 118);
  border-radius: 30%;
  corner-shape: superellipse(1.64);
  display: inline-block;
}
.nav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid black;
  justify-content: space-around;
}

.navigation {
  width: 50%;
  display: flex;
}

.nav-link {
  padding: 1rem;
}

.title {
  font-size: 4.5rem;
  font-style: italic;
  margin-bottom: 1.25rem;
  color: #d6d0e9;
}
.header {
  background: #6e2e69;
  padding: 5rem;
}
.resume-subheader {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}
.contact {
  width: 50%;
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 1rem;
}
.subhead {
  font-size: 2rem;
  color: purple;
  line-height: 1;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.S1 {
  display: flex;
  background: antiquewhite;
  padding: 1rem;
  flex-direction: row;
}
.names {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 24px;
}

.company {
  margin-bottom: 1rem;
}
.details {
  font-size: 1rem;
  color: #6e2e69;
  padding: 2rem;
}

.dates {
  text-transform: uppercase;
}

.info {
  flex-direction: column;
  flex: 1;
}
.job-duties {
  padding-left: 30px;
}

.job-duty-item {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.topic {
  width: 100%;
  border: 2px solid orange;
  background-color: #e8d1ffe7;
  padding: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.hexcode {
  font-size: 1vw;
  color: white;
  line-height: 1;
  margin-bottom: 1rem;
  flex: 1;
}
/* how to apply topic settings to other pages and oly change colors? */

.plum {
  background-color: #6e2e69;
}
.rose {
  background-color: #c5aba5;
}
.lavender {
  background-color: #d6d0e9;
}
.golden {
  background-color: #edb100;
}
.moss {
  background-color: #335e00;
}
.crimson {
  background-color: #7e000b;
}

.card-subhead {
  font-size: 2vw;
  color: purple;
  line-height: 1;
  margin-bottom: 1rem;
  flex: 1;
  /* background: yellowgreen; */
}

/* Text colors in Cards */
.white {
  color: #ffffff;
}
.light {
  color: #d6d0e9;
}
.dark {
  color: #6e2e69;
}
.card-footer {
  display: block;
}

.card-number {
  display: block;
  font-size: 5rem;
  color: white;
  margin-bottom: 1rem;
}
pre {
  font-family: monospace;
  /*font-size: 0.2rem;*/
  color: #280058;
}
.center {
  display: flex;
  justify-content: center;
  margin-left: 25%;
}

/* responsive video code */

.project-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  margin-bottom: 1rem;
  background: yellowgreen;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.music-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.music-title {
  font-size: 1.6rem;
  font-weight: 500;
  color: #6e2e69;
  padding: 1rem;
}
.music-ascii {
  padding: 3rem;
}
.music-box {
  padding: 4rem;
  border: solid #6e2e69 1rem;
  border-radius: 11%;
  border-block-style: revert-layer;
  corner-shape: superellipse(-2);
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  text-align: center;
  /* align-items: flex-start; */
}
.music-link {
  background-color: antiquewhite;
  padding: 0.7rem;
  border: 0.5rem solid rgb(255, 162, 0);
  border-radius: 17%;
  corner-shape: superellipse(-1.5);
  display: inline-block;
}
.comment {
  padding: 1rem;
  font-size: 1.5rem;
  color: #15084f;
}
.B0 {
  background-color: rgb(0, 174, 222);
}
.size1 {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  width: 100%;
}

.ascii-art {
  font-family: monospace;
  font-size: 6px; /* Try 6–10px */
  line-height: 0.9;
  white-space: pre;
  color: #ffffff;
}
.B1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2rem;
  background-color: rgb(0, 174, 222);
}
.b-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2rem;
}
.b-header {
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
  color: #ffffff;
}
.b-line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 6rem;
}
.b-audio {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  /* align-items: center; */
}
.extra {
  padding-bottom: 2rem;
  color: #ffffff;
}
.b-audio audio {
  width: 60%;
}
.b-top {
  display: flex;
  width: 100%;
  background: rgba(190, 49, 120, 0.754);
  justify-content: space-between;
  padding: 2rem;
}
.b-link {
  background-color: white;
  padding: 0.7rem;
  border: 2px solid rgb(63, 0, 118);
  border-radius: 30%;
  display: inline-block;
}
/* EXPLORING BORDERS */

/* MEDIA */
@media (min-width: 768px) {
  .card-container {
    flex-direction: row;
  }
  .topic {
    width: 46%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .topic {
    width: 23%;
  }
  .nav {
    flex-direction: row;
  }

  .names {
    flex-direction: row;
  }

  .company {
    margin-bottom: 0;
  }
  .resume-subheader {
    flex-direction: row;
  }
  .S1 {
    padding: 5rem;
  }
}
