/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");

body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: auto;
  max-width: 700px; /* Keeps content readable on large screens */
  padding: 20px;
  color: #333;
  font-size: 11pt; /* Font size recommendation */
}

h1,
h2,
h3 {
  color: #000;
}

header {
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

section {
  margin-bottom: 20px;
}

.job h3,
.degree h3 {
  margin-bottom: 0;
}

.dates {
  font-style: italic;
  color: #777;
  margin-top: 0;
  margin-bottom: 10px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}
