/* Typography imported from Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Quicksand:wght@300..700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.6;
  margin: auto;
  max-width: 700px; /* Keeps content readable on large screens */
  padding: 20px;
  color: #333;
}

h1,
h2,
h3 {
  font-family: "Lexend", sans-serif;
  color: #000;
}

header {
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

section {
  margin-bottom: 20px;
}

.job h3,
.degree h3 {
  margin-bottom: 0;
}

.company-school-role {
  color: blue;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.dates {
  font-style: italic;
  color: #777;
  margin-top: 0;
  margin-bottom: 10px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

.resume-heading {
  color: red;
}

.summary {
  background: lightblue;
}
.education {
  background: goldenrod;
}
.experience {
  background: lightcoral;
}
.skills {
  background: lightseagreen;
}
