/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap");
@import url(<linkhref="https://fonts.googleapis.com/css2?family=Asset&display=swap"rel="stylesheet">);
@import url(<linkhref="https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap"rel="stylesheet">);

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Resume Below */
body {
  font-family: "Alumni Sans Pinstripe", sans-serif;
}

/* Major Heading Styles */

h1 {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 4rem;
  color: cornflowerblue;
  align-items: center;
}

h2 {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
  display: flex;
  align-items: start;
}

h3 {
  font-size: 2rem;
  font-weight: 900;
  color: rgb(71, 71, 200);
}
h4 {
  font-size: 2rem;
  font-weight: 200;
}

/* Hyperlink Styles */

a {
  color: black;
}
a:hover {
  color: lightsalmon;
}

header {
  background: lightblue;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* RESUME ROW AND COLUMN STRUCTURE */

.education {
  display: flex;
  flex-direction: column;
}

.skills {
  display: flex;
  flex-direction: column;
}

.experience {
  display: flex;
  flex-direction: column;
}

.intrests {
  display: flex;
  flex-direction: column;
}

/* OTHER RESUME STUFF */

.resume-heading {
  width: 50%;
  color: cornflowerblue;
}

.resume-content {
  width: 50%;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

/* Start of Webring */
.hero {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  background-image: radial-gradient(
    circle,
    #efee82,
    #ffdc96,
    #ffd2ba,
    #ffd2da,
    #f4d8e9,
    #e9dbf0,
    #deddf4,
    #d4e0f3,
    #bee6ff,
    #9eedff,
    #79f5ff,
    #5ffbf1
  );
}

.hero-heading {
  color: white;
  font-size: 4rem; /* Mobile size */
  font-family: "Asset", serif;
}
.hero-text {
  color: black;
  font-size: 2rem;
  font-weight: 200;
  font-family: "Monsieur La Doulaise", cursive;
  margin-bottom: 1rem;
}
.asset-regular {
  font-family: "Asset", serif;
  font-weight: 400;
  font-style: normal;
}
.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 200;
  font-style: normal;
}

/* End of Webring */

/* Desktop */
@media (min-width: 1024px) {
  .education {
    flex-direction: row;
  }

  .skills {
    flex-direction: row;
  }

  .experience {
    flex-direction: row;
  }

  .intrests {
    flex-direction: row;
  }

  .hero-heading {
    font-size: 8rem; /* Desktop size */
  }
}
