/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

/* Mobile First*/
@media (max-width: 600px) {
  .education {
    flex-direction: column;
    font-size: 0.5rem;
  }

  .skills {
    flex-direction: column;
    font-size: 0.5rem;
  }

  .experience {
    flex-direction: column;
    font-size: 0.5rem;
  }

  .intrests {
    flex-direction: column;
    font-size: 0.5rem;
  }

  .hero-heading {
    font-size: 2rem;
  }
  .hero-text {
    font-size: 0.5rem;
  }
}
/* Resume Below */
body {
  font-family: "Oswald";
}
h2 {
  font-family: "Oswald";
  font-weight: 200;
  font-style: normal;
  font-size: 3rem;
  display: flex;
  align-items: start;
}

h3 {
  font-family: "Oswald";
  font-size: 2rem;
  font-weight: 200;
  color: rgb(71, 71, 200);
}
h4 {
  font-family: "Oswald";
  font-size: 2rem;
  font-weight: 200;
}

/* RESUME HEADING */
.resume-header {
  background: lightblue;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.resume-name {
  font-family: "Pirata One";
  font-size: 6rem;
  color: white;
}
.resume-capu {
  font-size: 2.5rem;
  color: cornflowerblue;
}
.resume-email {
  font-size: 2rem;
  font-weight: 200;
  color: cornflowerblue;
  margin-top: 1rem;
}
.resume-header h1,
.resume-header h3,
.resume-header h4 {
  margin: 1rem;
}
/* RESUME CONTENT */

.resume-section {
  background: white;
  padding: 2rem;
  margin: 2rem auto;
  width: 80%;
  border-radius: 10px;
  box-sizing: border-box;
}
.section-title {
  width: 100%;
  color: cornflowerblue;
  margin-bottom: 1rem;
}

.section-list {
  width: 100%;
  max-width: none;
  text-align: left;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.section-list li {
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* RESUME DATES */
.date {
  font-style: italic;
  font-size: 1.5rem;
  color: #555;
  margin-left: 2rem;
  white-space: nowrap;
}
/* OTHER RESUME FORMATTING STUFF */

body {
  background-color: lightblue;
}

/* Start of Webring */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  background-image: radial-gradient(
    circle,
    #efee82,
    #ffdc96,
    #ffd2ba,
    #ffd2da,
    #f4d8e9,
    #e9dbf0,
    #deddf4,
    #d4e0f3,
    #bee6ff,
    #9eedff,
    #79f5ff,
    #5ffbf1
  );
}

.hero-heading {
  color: white;
  font-size: 1rem;
  font-family: "Pirata One";
}
.hero-text {
  color: black;
  font-size: 2rem;
  font-weight: 200;
  font-family: "Pirata One";
  margin-bottom: 1rem;
}

a {
  font-size: 2rem;
  font-family: "Pirata One";
}
/* Hyperlink Styles */

a {
  color: black;
}
a:hover {
  color: skyblue;
}

/* End of Webring */

/* Desktop */
@media (min-width: 1024px) {
  .education {
    flex-direction: row;
  }

  .skills {
    flex-direction: row;
  }

  .experience {
    flex-direction: row;
  }

  .intrests {
    flex-direction: row;
  }

  .hero-heading {
    font-size: 8rem; /* Desktop size */
  }
}
