/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap");
@import url(<linkhref="https://fonts.googleapis.com/css2?family=Asset&display=swap"rel="stylesheet">);
@import url(<linkhref="https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap"rel="stylesheet">);

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Resume Below */
body {
  font-family: "Alumni Sans Pinstripe", sans-serif;
}

/* Major Heading Styles */

h1 {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 4rem;
  color: cornflowerblue;
  align-items: center;
}

h2 {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
  display: flex;
  align-items: start;
}

h3 {
  font-size: 2rem;
  font-weight: 900;
  color: rgb(71, 71, 200);
}
h4 {
  font-size: 2rem;
  font-weight: 200;
}

/* Hyperlink Styles */

a {
  color: black;
}
a:hover {
  color: lightsalmon;
}
/* RESUME HEADING */
.resume-header {
  background: lightblue;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.resume-name {
  font-family: "Asset", serif;
}
.resume-capu {
  font-size: 2.5rem;
  color: cornflowerblue;
}
.resume-email {
  font-size: 2rem;
  font-weight: 900;
  color: cornflowerblue;
  margin-top: 1rem;
}
.resume-header h1,
.resume-header h3,
.resume-header h4 {
  margin: 0.5rem 0;
}
/* RESUME CONTENT */

.resume-section {
  background: white;
  padding: 2rem;
  margin: 2rem auto;
  width: 80%;
  border-radius: 10px;
  box-sizing: border-box;
}
.section-title {
  width: 100%;
  color: cornflowerblue;
  font-style: bold;
  margin-bottom: 0.75 rem;
}

.section-list {
  width: 100%;
  max-width: none;
  text-align: left;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.section-list li {
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* RESUME DATES */
.date {
  font-style: italic;
  font-weight: 900
  font-size: 1.5rem;
  color: #555;
  margin-left: 2rem;
  white-space: nowrap;
}
/* OTHER RESUME FORMATTING STUFF */

body {
  background-color: lightblue;
}

/* Start of Webring */
.hero {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  background-image: radial-gradient(
    circle,
    #efee82,
    #ffdc96,
    #ffd2ba,
    #ffd2da,
    #f4d8e9,
    #e9dbf0,
    #deddf4,
    #d4e0f3,
    #bee6ff,
    #9eedff,
    #79f5ff,
    #5ffbf1
  );
}

.hero-heading {
  color: white;
  font-size: 4rem; /* Mobile size */
  font-family: "Asset", serif;
}
.hero-text {
  color: black;
  font-size: 2rem;
  font-weight: 200;
  font-family: "Monsieur La Doulaise", cursive;
  margin-bottom: 1rem;
}
.asset-regular {
  font-family: "Asset", serif;
  font-weight: 400;
  font-style: normal;
}
.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 200;
  font-style: normal;
}

/* End of Webring */

/* Desktop */
@media (min-width: 1024px) {
  .education {
    flex-direction: row;
  }

  .skills {
    flex-direction: row;
  }

  .experience {
    flex-direction: row;
  }

  .intrests {
    flex-direction: row;
  }

  .hero-heading {
    font-size: 8rem; /* Desktop size */
  }
}
