/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap");
@import url(<linkhref="https://fonts.googleapis.com/css2?family=Asset&display=swap"rel="stylesheet">);
@import url(<linkhref="https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap"rel="stylesheet">);

/* Mobile-first default */
.card {
  width: 100%;
}

/* Tablet */
@media (min-width: 768px) {
  .card {
    width: 50%;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .card {
    width: 30%;
  }
}
header {
  background: lightblue;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.education {
  background: rgb(#fbeaff);
  font-size: 1.25rem;
  padding: 4rem;
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
}

.skills {
  background: rgb(246, 223, 161);
  font-size: 1.25rem;
  padding: 4rem;
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
}

.experience {
  background: rgb(126, 175, 235);
  font-size: 1.25rem;
  padding: 4rem;
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
}

.intrests {
  background: white;
  font-size: 1.25rem;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}

h1 {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 4rem;
  color: cornflowerblue;
  align-items: center;
}

h2 {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
  display: flex;
  align-items: start;
}

.hero {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-image: radial-gradient(
    circle,
    #efee82,
    #ffdc96,
    #ffd2ba,
    #ffd2da,
    #f4d8e9,
    #e9dbf0,
    #deddf4,
    #d4e0f3,
    #bee6ff,
    #9eedff,
    #79f5ff,
    #5ffbf1
  );
}

.hero-heading {
  color: white;
  font-size: 8rem;
  font-family: "Asset", serif;
}
.hero-text {
  color: black;
  font-size: 2rem;
  font-weight: 200;
  font-family: "Monsieur La Doulaise", cursive;
  margin-bottom: 1rem;
}
.asset-regular {
  font-family: "Asset", serif;
  font-weight: 400;
  font-style: normal;
}
.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 200;
  font-style: normal;
}
a {
  color: black;
}
a:hover {
  color: lightsalmon;
}
