/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap");

body {
  font-family: "Alumni Sans Pinstripe", sans-serif;
}

header {
  background: lightblue;
  padding: 3rem;
}
.education {
  background: lightskyblue;
  padding: 3rem;
}

.skills {
  background: lightskyblue;
  padding: 3rem;
}

.experience {
  background: lightskyblue;
  padding: 3rem;
}

.intrests {
  background: lightskyblue;
  padding: 3rem;
}

h1 {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 4rem;
  color: cornflowerblue;
}

h2 {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
}

.hero {
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}

.hero-heading {
  color: white;
  font-size: 8rem;
}
.hero-text {
  color: white;
  font-size: 2rem;
}
