/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=New+Amsterdam&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Works Sans", sans-serif;
  background-color: rgb(157, 197, 170);
}

.resume-wrapper {
  max-width: 1100px;
  border: #6a8f7c;
  margin: 20px 10px;
  background: white;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Basic typography */

h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 4rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 1.25rem;
}

h3 {
  font-weight: 600;
  font-size: 1.3rem;
  padding: 1rem;
}
header {
  background: rgb(157, 197, 170);
  padding: 2rem;
  padding-bottom: 1rem;
}
.subhead {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Work Sans", sans-serif;
  padding: 1rem;
}
/* Layout components */
.resumelink {
  text-decoration: none;
  color: black;
}
.resumelink:hover {
  color: rgb(121, 166, 133);
}
.sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-section,
.right-section {
  width: 100%;
}
.education,
.experience,
.skills,
.certifications {
  text-align: left;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  padding: 1rem 2rem;
  background-color: #9dc5aa;
}

.education {
  background: whitesmoke;
  padding: 2rem;
  width: 100%;
}

.skills {
  background: whitesmoke;
  padding: 2rem;
  width: 100%;
}

.experience {
  background: whitesmoke;
  padding: 2rem;
  width: 100%;
}

.certifications {
  background: whitesmoke;
  padding: 2rem;
  width: 100%;
}

/* Specific typography classes */

.paragraph-md {
  font-size: 1.3rem;
  font-family: "Work Sans", sans-serif;
}

.paragraph-sm {
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-align: left;
}

/* Webring stuffs */
.myindex {
  background-image: url(bg-green.jpg);
  background-repeat: repeat;
}
.toplink a {
  font-size: 1rem;
  color: rgb(33, 58, 25);
  padding: 0.3rem 0.5rem;
  transition: color 0.2s;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.toplink :hover {
  color: indianred;
}
.webring {
  color: indianred;
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.8);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.cherryflip {
  font-size: 3rem;
  margin-left: 0.3rem;
  display: inline-block;
  transform: scaleX(-1); /* horizontal flip */
}
.cherry {
  font-size: 3rem;
  margin-left: 0.3rem;
}
.webringbody {
  color: rgb(33, 58, 25);
  font-family: "Work Sans", sans-serif;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 9.5rem;
}
.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.5rem;
  background-color: white;
  padding: 4rem 4rem;
  border: 5px solid indianred;
  border-radius: 12px;
  margin-bottom: 8rem;
  text-decoration: none;
  width: 280px;
  margin: 3rem auto 8rem;
}
.link a {
  font-size: 1rem;
  color: rgb(33, 58, 25);
  padding: 0.3rem 0.5rem;
  transition: color 0.2s;
  text-decoration: none;
}

.link :hover {
  color: indianred;
}

.aboutme {
  color: rgb(33, 58, 25);
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.aboutmep {
  color: rgb(33, 58, 25);
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 3rem;
}
.cherry-final {
  font-size: 6.25rem;
  display: flex;
  justify-content: center;
  margin: 3rem;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.8);
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .education,
  .experience,
  .skills,
  .certifications {
    text-align: left;
  }
  .resume-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px auto;
    padding: 20px;
    gap: 20px;
  }
  .sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }
  .left-section {
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 20px;
  }
  .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 250px;
  }

  .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .education,
  .skills,
  .experience,
  .certifications {
    border: 2px solid #6a8f7c;
    border-radius: 12px;
    margin: 10px;
    background: #f4faf6;
  }

  .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3.5rem;
    background-color: white;
    padding: 1rem 2rem;
    border: 5px solid indianred;
    border-radius: 12px;
    width: fit-content;
    margin: 3rem auto 0;
    margin-bottom: 8rem;
    text-decoration: none;
  }

  .cherryflip {
    font-size: 5rem;
    margin-left: 0.3rem;
    display: inline-block;
    transform: scaleX(-1); /* horizontal flip */
  }
  .cherry {
    font-size: 5rem;
    margin-left: 0.3rem;
  }
  .aboutmep {
    color: rgb(33, 58, 25);
    font-family: "Work Sans", sans-serif;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  .webring {
    width: 100%;
  }
  .webringbody {
    color: rgb(33, 58, 25);
    font-family: "Work Sans", sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 9.5rem;
  }
}
