/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Works Sans", sans-serif;
  padding: 1rem;
}

header {
  background: rgb(170, 181, 209);
  padding: 2rem;
  margin-bottom: 1rem;
}

.education {
  background: rgb(219, 223, 235);
  padding: 2rem;
  margin-top: 1rem;
}

.skills {
  background: rgb(219, 223, 235);
  padding: 2rem;
}

.experience {
  background: rgb(219, 223, 235);
  padding: 2rem;
}

.certifications {
  background: rgb(219, 223, 235);
  padding: 2rem;
}
.paragraph-md {
  font-size: 1.3rem;
  font-family: "Work Sans", sans-serif;
}

.paragraph-sm {
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  padding-left: 1rem;
  padding: 0.25rem;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 5rem;
  color: rgb(11, 43, 75);
}

h2 {
  font-weight: 500;
  font-size: 2.5rem;
  padding: 1.5rem;
}

h3 {
  font-weight: 600;
  font-size: 1.3rem;
  padding: 1rem;
}
