/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

body {
  font-family: "Rubik", sans-serif;
  padding: 1rem;
}
header {
  background: lightblue;
  padding: 2rem;
}
.Education {
  background: yellowgreen;
  padding: 2rem;
}

.Skills {
  li {
    margin-bottom: 1rem;
  }
  background: lightseagreen;
  padding: 2rem;
}
h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  font-size: 6rem;
}
h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 4rem;
  margin-bottom: 1rem;
}
.Experience {
  li {
    margin-bottom: 1rem;
  }
  background: mediumaquamarine;
  padding: 2rem;
}
.Languages {
  li {
    margin-bottom: 1rem;
  }
  background: darkseagreen;
  padding: 2rem;
}
