/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background: #ffffff;
  color: #111;
  line-height: 1.6;
}

/* Header */
.header {
  background: #e0e0e0;
  padding: 40px 0;
}

.header-inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header h1 {
  font-size: 9rem;
  font-weight: 900;
}

.subtitle {
  margin-top: 10px;
  font-weight: 500;
}

.contact p {
  text-align: right;
  font-size: 0.95rem;
}

.content {
  background: #affff4;
}

.content-inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 40px;
  display: grid;
  grid-template-columns: 3fr 1.2fr;
  gap: 60px;
}

section {
  margin-bottom: 48px;
}

h2 {
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 14px;
  background: white;
}

h3 {
  font-size: 1.05rem;
  font-weight: 600;
  background: rgb(255, 255, 255);
}

.date {
  font-size: 0.85rem;
  color: hsl(0, 0%, 0%);
}

.note {
  font-size: 0.85rem;
  font-style: italic;
}

ul {
  padding-left: 18px;
  margin-top: 8px;
}

ul li {
  margin-bottom: 6px;
}

.list {
  list-style: none;
  padding-left: 0;
}

.list li {
  margin-bottom: 14px;
  font-weight: 500;
  background: rgb(197, 215, 255);
  padding: 1rem;
}

@media (max-width: 900px) {
  .header-inner {
    flex-direction: column;
    gap: 20px;
  }

  .contact p {
    text-align: left;
  }

  .content-inner {
    grid-template-columns: 1fr;
  }

  .right {
    border-left: none;
  }
}
.hero {
  text-align: center;
  font-size: 1.5rem;
}
h1 {
  font-size: 5rem;
}
