/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');



html {
  box-sizing: border-box;
  scroll-behavior: smooth;
    background-size: 100%;
  background-image: url(Assets/background-water-colour-texture.jpg);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Styling Variables */
:root {
  --accent-color: #555;
  --body-typeface:  "ADLaM Display", system-ui;
  --main-heading: "Chewy", system-ui;
}

body {
  font-family: var(--body-typeface);
  color: #D347D3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Making all images responsive */
img {
  max-width: 100%;
  height: auto;
}

/* Typography */

h1 {
  font-size: 5rem;
  font-family: var(--main-heading);
    margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 2rem;
      line-height: 1.2;

}

.link {
  font-size: 3rem;
  font-family: var(--main-heading);
  margin-bottom: 1.5rem;
    line-height: 1.2;

}

p {
  font-size: 1.625rem;
  font-family: var(--body-typeface);
  margin-bottom: 0.2rem;
  line-height: 1.2;
}

.hero-headline {
  color: #D347D3;
}

/* Hyperlink Styles */
a {
  text-decoration: none;
  color: #D347D3;
}
a:hover {
  color: #111;
}

p {
  margin-bottom: 1rem;
}

/* Work Page Layout */

/* Hero */

.hero {
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes bg-animation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.hero-headline-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  text-align: center;
  width: 80%;
}
