/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Rubik", sans-serif;
  padding: 1rem;
}

header {
  background: lightblue;
  padding: 2rem;
}

.education {
  background: goldenrod;
  padding: 2rem;
}

.skills {
  background: hotpink;
  padding: 2rem;
}

.paragraph-md {
  font-size: 1.3rem;
  color: navy;
}
.paragraph-sm {
  font-size: 0.8rem;
  color: orangered;
}

h1 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  color: lemonchiffon;
  font-size: 5rem;
}
