/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Rubik", sans-serif;
}

header {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.education {
  background: goldenrod;
  padding: 2rem;
}

.skills {
  background: hotpink;
  padding: 2rem;
}

.paragraph-md {
  font-size: 1.3rem;
  color: navy;
}
.paragraph-sm {
  font-size: 0.8rem;
  color: orangered;
}

h1 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  color: lemonchiffon;
  font-size: 5rem;
  margin-bottom: 1rem;
}

h2 {
  background: lightpink;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: red;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-bottom: 1rem;
}

/* Session 3 */

.hero-text {
  border: 5px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  border: 5px solid yellowgreen;
}

.web-ring-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
