/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Quicksand:wght@300..700&display=swap");

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Rubik", sans-serif;
}

header {
  background: navy;
  padding: 3rem;
}

.education {
  background: lightblue;
  padding: 4rem;
}

.skills {
  background: lightcyan;
  padding: 4rem;
}

.contact {
  background: lightcyan;
  padding: 4rem;
}

.volunteer {
  background: lightblue;
  padding: 4rem;
}

.work {
  background: lightcyan;
  padding: 4rem;
}

.certifications {
  background: lightblue;
  padding: 4rem;
}

.achievements {
  background: lightcyan;
  padding: 4rem;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 7rem;
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: navy;
}

h3 {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

h4 {
  margin-bottom: 0.5rem;
}

li {
  margin-bottom: 1rem;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
}

a {
  color: pink;
  text-decoration: none;
}

a:hover {
  color: pink;
  text-decoration: underline;
}
.hero {
  background: #7a42db;
  background: linear-gradient(
    90deg,
    rgba(122, 66, 219, 1) 0%,
    rgba(22, 22, 166, 1) 46%,
    rgba(0, 212, 255, 1) 100%
  );
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-text {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}
.wrapper {
  border: 10px solid white;
  text-align: center;
  padding: 1rem;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .resume-wrapper {
    border: 2px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: row;
  }
  .resume-main {
    border: 2px solid black;
    padding: 1rem;
    width: 50%;
    background: lightskyblue;
  }
  .resume-sidebar {
    border: 2px solid black;
    padding: 1rem;
    width: 50%;
    background: lightskyblue;
  }
}
