/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  font-family: "Lato", sans-serif;
  padding: 1rem;
}
header {
  background: lightblue;
  padding: 2rem;
}
section {
  background: goldenrod;
  padding: 2rem;
}
.education {
  background: cadetblue;
  padding: 2 rem;
}
.skills {
  background: hotpink;
  padding: 2 rem;
}
h1 {
  font-weight: 900;
  font-style: italic;
  font-size: 4rem;
  margin-bottom: 1rem;
}
h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
}
h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
}
h4 {
  font-weight: 500;
  font-style: italic;
  font-size: 1.5rem;
}
ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 1.4rem;
}
li {
  margin-bottom: 0.5rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .edu-heading,
  .exp-heading,
  .skills-heading {
    width: 100%;
    flex-direction: column;
  }
  .edu-main,
  .exp-main,
  .skills-main {
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .contact {
    display: flex;
    flex-direction: row;
  }
  .inst-position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .edu,
  .exp,
  .skills {
    display: flex;
    flex-direction: row;
  }
  .edu-heading,
  .exp-heading,
  .skills-heading {
    width: 20%;
  }
  .edu-main,
  .exp-main,
  .skills-main {
    width: 80%;
  }
  .para-md {
    font-size: 1.3rem;
  }
  .para-sm {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
