/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* General Styles */

body {
  font-family: "Lato", sans-serif;
  background-color: antiquewhite;
}
section {
  background: antiquewhite;
}
h1 {
  font-weight: 900;
  font-style: italic;
  font-size: 2.5rem;
  margin-bottom: 1.4rem;
  color: antiquewhite;
}
h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #235c7e;
}
h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
  color: #235c7e;
}
h4 {
  font-weight: 500;
  font-style: italic;
  font-size: 1.5rem;
  color: #235c7e;
  margin-bottom: 0.4rem;
}
p {
  margin-bottom: 1.5rem;
  color: #94bebb;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.job-duties {
  list-style-type: disc;
  margin-left: 1.5rem;
  margin-bottom: 1.4rem;

  color: #235c7e;
}
.job-duty-item {
  margin-bottom: 0.5rem;
}

.edu,
.exp,
.skills {
  padding: 1rem;
}

/* More specific class styles */

.index-contents,
.main-nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 2rem;
  width: 90%;
}

.para-md {
  font-size: 1.3rem;
  color: #6777b6;
}
.para-sm {
  color: #6777b6;
  font-size: 1rem;
  margin-bottom: 1rem;
}

button {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
}
a {
  text-decoration: none;
  color: #235c7e;
}
.resume-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.resume-header {
  background: #235c7e;
  padding: 2rem;
}
.index {
  background-image: url(../alyssa-cheng/the-banks-of-the-oise.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  h3 {
    color: antiquewhite;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
.index-contents {
  background: #235c7e;
  border-radius: 2rem;
  padding: 2rem;
}
.webring-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pg-link {
  margin: 0.25rem;
  background-color: #f9f8f7;
  padding: 0.3rem;
  border: none;
  border-radius: 0.25rem;
}
.pg-link:hover {
  background-color: #94bebb;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .webring-nav {
    flex-direction: row;
  }
  .index-contents,
  .main-nav {
    width: 60%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-size: 4rem;
  }
  .contact {
    display: flex;
    flex-direction: row;
  }
  .inst-position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .edu,
  .exp,
  .skills {
    display: flex;
    flex-direction: row;
    padding: 2rem;
  }
  .edu-heading,
  .exp-heading,
  .skills-heading {
    padding-right: 3rem;
    width: 20%;
  }
  .edu-main,
  .exp-main,
  .skills-main {
    width: 80%;
  }
  .index-contents,
  .main-nav {
    width: 55%;
  }
}
