/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sekuya&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --headerfont: "Sekuya", sans-serif;
  /* colours */
  --darkred: rgb(163, 40, 40);
  --textonred: rgb(255, 209, 196);
  --resheader-mobile: 2rem; /* resume header size for mobile */
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Rubik", sans-serif;
  background: rgb(29, 25, 24);
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

p {
  padding-top: 0.5rem;
}

a {
  color: rgb(255, 209, 196);
  text-decoration: none;
  padding: 0.25rem;
}

a:hover {
  text-decoration: none;
  background: rgb(255, 209, 196);
  color: var(--darkred);
}

ul {
  padding: 1.5rem;
}

/* INDEX STYLES (Web Ring) */
.hero {
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(star-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-wrap {
  font-family: var(--headerfont);
  color: var(--textonred);
  background: var(--darkred);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.hero-tagline {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.hero-desc {
  font-family: "Rubik", sans-serif;
  background: rgb(66, 36, 36);
  font-size: 1rem;
  color: var(--textonred);
  padding: 0.75rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.ring-links {
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  font-family: var(--headerfont);
}

.link-buttons,
.about-links {
  background: var(--darkred);
  justify-content: center;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1.5rem;
}

/* ABOUT STYLES */
.about-wrap {
  font-family: var(--headerfont);
  color: var(--textonred);
  background: var(--darkred);
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.about-desc {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  color: var(--textonred);
  padding: 0.75rem;
}

.about-links {
  font-size: 1rem;
  margin: 0.5rem;
}

/* RESUME STYLES */
/* header styles */
.resume-header {
  background: var(--darkred);
  padding: 2rem;
  font-weight: bold;
  color: var(--textonred);
  margin-bottom: 1rem;
}

.back-nav {
  padding-bottom: 2rem;
}

.name {
  font-family: var(--headerfont);
  font-weight: 400;
  font-size: 3.25rem;
}

.position-title {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

/* education & project section styles */
.eduproject-wrapper {
  background: rgb(238, 181, 131);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.eduproject-header {
  font-family: var(--headerfont);
  font-weight: 400;
  background: rgb(190, 87, 19);
  color: rgb(238, 181, 131);
  font-size: var(--resheader-mobile);
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.years {
  font-style: italic;
  padding-top: 0.5rem;
  padding-bottom: 1.25rem;
}

/* technical skills section styles */
.skills-wrapper {
  background: rgb(232, 139, 96);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.skills-header {
  font-family: var(--headerfont);
  font-weight: 400;
  background: rgb(164, 48, 16);
  color: rgb(232, 139, 96);
  font-size: var(--resheader-mobile);
  margin-bottom: 1.5rem;
  padding: 1rem;
}

/* work experience section styles */
.work-wrapper {
  background: rgb(238, 181, 131);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.work-header {
  font-family: var(--headerfont);
  font-weight: 400;
  background: rgb(190, 87, 19);
  color: rgb(238, 181, 131);
  font-size: var(--resheader-mobile);
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.bulleted-item {
  list-style: disc;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

/* Tablet view (768px to 991 px) */
@media (min-width: 768px) {
  /* INDEX STYLES */
  .ring-links {
    flex-direction: row;
  }

  /* ABOUT STYLES */
  .about-wrap {
    flex-direction: row;
  }
  .aboutcontent {
    max-width: 80%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* INDEX STYLES */
  .hero-wrap {
    font-size: 4rem;
    flex-direction: row;
  }
  .hero-tagline {
    font-size: 2rem;
    flex-direction: row;
  }
  .hero-desc {
    font-size: 1.5rem;
    flex-direction: row;
  }
  .ring-links {
    font-size: 2rem;
  }

  /* ABOUT STYLES */
  .about-wrap {
    font-size: 4rem;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .aboutcontent {
    max-width: 50%;
  }
  .about-desc {
    font-size: 1.5rem;
  }

  /* RESUME STYLES */
  .eduproject-wrapper {
    flex-direction: row;
  }
  .education {
    width: 50%;
  }
  .projects {
    width: 50%;
  }
  .work-wrapper {
    flex-direction: row;
  }
  .jobs {
    width: 50%;
  }
  .freelance {
    width: 50%;
  }
  .skills-wrapper {
    flex-direction: row;
  }
  .hard-skills {
    width: 50%;
  }
  .soft-skills {
    width: 50%;
  }
}
