/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sekuya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  background: rgb(29, 25, 24);
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

p {
  padding-top: 0.5rem;
}

a {
  color: rgb(255, 209, 196);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  background: rgb(255, 209, 196);
  color: rgb(163, 40, 40);
  padding: 0.25rem;
}

ul {
  padding: 1.5rem;
}

/* INDEX (Web Ring) */
.hero {
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(star-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-headline {
  font-family: "Sekuya", regular;
  color: rgb(255, 209, 196);
  background: rgb(163, 40, 40);
  padding: 1.5rem;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
}

.hero-tagline {
  font-size: 2rem;
}

.ring-links {
  margin: 1rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  font-family: "Sekuya", regular;
}

.previous {
  background: rgb(163, 40, 40);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1.5rem;
}

.resume {
  background: rgb(163, 40, 40);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1.5rem;
}

.next {
  background: rgb(163, 40, 40);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1.5rem;
}

/* RESUME */
/* header styles */
.resume-header {
  background: rgb(152, 58, 58);
  padding: 2rem;
  font-weight: bold;
  color: beige;
  margin-bottom: 1rem;
}

.back-nav {
  padding-bottom: 2rem;
}

.name {
  font-family: "Sekuya", regular;
  font-weight: 400;
  font-size: 3.25rem;
}

.position-title {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

/* education & project section styles */
.eduproject-wrapper {
  background: rgb(238, 181, 131);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.eduproject-header {
  font-family: "Sekuya", regular;
  font-weight: 400;
  background: rgb(190, 87, 19);
  color: rgb(238, 181, 131);
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.years {
  font-style: italic;
  padding-top: 0.5rem;
  padding-bottom: 1.25rem;
}

/* .eduproject-link {
  color: rgb(164, 48, 16);
}

.eduproject-link:hover {
  color: rgb(238, 181, 131);
  text-decoration: none;
  background: rgb(190, 87, 19);
  padding: 0.25rem;
} */

/* technical skills section styles */
.skills-wrapper {
  background: rgb(232, 139, 96);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.skills-header {
  font-family: "Sekuya", regular;
  font-weight: 400;
  background: rgb(164, 48, 16);
  color: rgb(232, 139, 96);
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

/* work experience section styles */
.work-wrapper {
  background: rgb(238, 181, 131);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.work-header {
  font-family: "Sekuya", regular;
  font-weight: 400;
  background: rgb(190, 87, 19);
  color: rgb(238, 181, 131);
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.bulleted-item {
  /* eventually change points to a custom image? */
  list-style: disc;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hero-headline {
    font-size: 4rem;
  }

  .ring-links {
    font-size: 2rem;
  }

  .eduproject-wrapper {
    flex-direction: row;
  }

  .education {
    width: 50%;
  }

  .projects {
    width: 50%;
  }

  .work-wrapper {
    flex-direction: row;
  }

  .jobs {
    width: 50%;
  }

  .freelance {
    width: 50%;
  }

  .skills-wrapper {
    flex-direction: row;
  }

  .hard-skills {
    width: 50%;
  }

  .soft-skills {
    width: 50%;
  }
}
