/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Rubik", sans-serif;
}

header {
  background: whitesmoke;
  padding: 2rem;
}
.education {
  background: whitesmoke;
  padding: 2rem;
}
.skills {
  background: whitesmoke;
  padding: 2rem;
}
.paragraph-md {
  font-size: 2rem;
  color: navy;
}

.paragraph-sm {
  font-size: 0.8rem;
}

h1 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  color: rgb(19, 37, 82);
  font-size: 4rem;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-weight: 200;
  font-size: 1.5rem;
}

h4 {
  margin-bottom: 1rem;
}
.work-experience {
  background: whitesmoke;
  padding: 2rem;
}
ul {
  list-style-type: circle;
  list-style-position: inside;
}

li {
  margin-bottom: 1rem;
}

body {
  font-family: "Alumni Sans Pinstripe", sans-serif;
}

header {
  background: #FF1F39;
  padding: 3rem;
}
.education {
  background: whitesmoke;
  padding: 3rem;
}

.skills {
  background: whitesmoke;
  padding: 3rem;
}

.work-experience {
  background: whitesmoke;
  padding: 3rem;
}

.intrests {
  background: lightskyblue;
  padding: 3rem;
}
title {
  font-family: .ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight>: 600;
  font-style: normal;
  color:#75000E;
}
}
h1 {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 4rem;
  color: #75000E;
}

h2 {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
}

.hero {
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-image: background; <element id="FF1FA9">;
background: linear-gradient(90deg, rgba(255, 31, 169, 1) 0%, rgba(255, 31, 57, 1) 50%, rgba(255, 117, 31, 1) 100%);
}

.hero-heading {
  color: white;
  font-size: 8rem;
}
.hero-text {
  color: white;
  font-size: 2rem;
}
.linkbutton {
  font-size: 2rem;
  text-align:center;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 2rem;
  border: 0.25rem solid whitesmoke;
  border-radius: 1.5rem;
  color: black;
  text-decoration: wavy;
}

.linkbutton:hover {
  font-size: 2rem;
  text-align:center;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 2rem;
  background-color:whitesmoke;
  border-radius: 1.5rem;
  color: black;
  text-decoration: wavy;
}