/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/*general*/

h1 {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 4rem;
  color: #fdf0d5;
}
h2 {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  color: black;
  margin-bottom: 1rem;
}

h3 {
  font-weight: 200;
  font-size: 1.5rem;
}

h4 {
  margin-bottom: 1rem;
}

/*typography*/

body {
  font-family: "TASA Explorer", sans-serif;
}
header {
  background: whitesmoke;
  padding: 2rem;
}
.education {
  background: whitesmoke;
  padding: 2rem;
}
.skills {
  background: whitesmoke;
  padding: 2rem;
}
.paragraph-md {
  font-size: 2rem;
  color: navy;
}

.paragraph-sm {
  font-size: 0.8rem;
}

/*sizes*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 2.369rem;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-size: 3.157rem;
  }
}
.work-experience {
  background: whitesmoke;
  padding: 2rem;
}
ul {
  list-style-type: circle;
  list-style-position: inside;
}

li {
  margin-bottom: 1rem;
}

header {
  background: #669bbc;
  padding: 3rem;
}
.education {
  background: whitesmoke;
  padding: 3rem;
}

.skills {
  background: whitesmoke;
  padding: 3rem;
}

.work-experience {
  background: whitesmoke;
  padding: 3rem;
}

.interests {
  background: lightskyblue;
  padding: 3rem;
}

.hero {
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #669bbc;
}

.hero-heading {
  color: white;
  font-size: 8rem;
}
.hero-text {
  color: white;
  font-size: 2rem;
}
.linkbutton {
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 2rem;
  border: 0.25rem solid whitesmoke;
  border-radius: 1.5rem;
  color: black;
  text-decoration: wavy;
}

.linkbutton:hover {
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 2rem;
  background-color: whitesmoke;
  border-radius: 1.5rem;
  color: black;
  text-decoration: wavy;
}
