/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url(<style>
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
  font-family: "Rubik", sans-serif;
  padding: 1rem;
}

header {
  background: lightpink;
  padding: 2rem;
}
.education {
  background: whitesmoke;
  padding: 2rem;
}
.skills {
  background: rgb(244, 62, 62);
  padding: 2rem;
}
.paragraph-md {
  font-size: 2rem;
  color: navy;
}

.paragraph-sm {
  font-size: 0.8rem;

}

h1 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  color: lemonchiffon;
  font-size: 5rem;}

h2 {
  font-weight: 200;
  color:rgb(244, 62, 62);
  font-size: 3rem;
};
