/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap");

/*general*/

h1 {
  font-family: "TASA Explorer", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 4rem;
  color: #fdf0d5;
}
h2 {
  font-family: "TASA Explorer", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  color: #fdf0d5;
  margin-bottom: 1rem;
}

h3 {
  font-weight: 200;
  font-size: 1.5rem;
}

h4 {
  margin-bottom: 1rem;
}
.wrapper {
  display: flex;
  background: #669bbc;
}
/*typography*/

body {
  font-family: "TASA Explorer", sans-serif;
}
.header {
  background: #fdf0d5;
  padding: 2rem;
}
.education {
  background: #fdf0d5;
  padding: 2rem;
}
.skills {
  background: #fdf0d5;
  padding: 2rem;
}
.paragraph-md {
  font-size: 2rem;
  color: #fdf0d5;
}

.paragraph-sm {
  font-size: 0.8rem;
}
a {
  color: black;
}
/*sizes*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  h1 {
    font-size: 1.777rem;
  }
  h2 {
    font-size: 1.777rem;
  }
  h3 {
    font-size: 1.44rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 2.369rem;
  }
  h2 {
    font-size: 2.369rem;
  }
  h3 {
    font-size: 1.777rem;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-size: 3.157rem;
  }
  h2 {
    font-size: 3.157rem;
  }
  h3 {
    font-size: 2.074rem;
  }
}

ul {
  list-style-type: circle;
  list-style-position: inside;
}

li {
  margin-bottom: 1rem;
}

header {
  background: #669bbc;
  padding: 3rem;
}
.education {
  background: #669bbc;
  padding: 3rem;
}

.skills {
  background: #669bbc;
  padding: 3rem;
}

.work-experience {
  background: #669bbc;
  padding: 3rem;
}

.hero {
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #669bbc;
}

.hero-heading {
  font-size: 8rem;
}
.hero-text {
  color: #fdf0d5;
  font-size: 2rem;
}
