/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* very general */

body {
  font-family: "TASA Explorer", sans-serif;
  background: #669bbc;
}

header {
  padding: 2rem;
}

/* general headings */

h1 {
  font-family: "TASA Explorer", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 4rem;
  color: #fdf0d5;
}
h2 {
  font-family: "TASA Explorer", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  color: #fdf0d5;
  margin-bottom: 1rem;
}

h3 {
  font-weight: 200;
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
}

h4 {
  margin-bottom: 1rem;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
}

li {
  margin-bottom: 1rem;
}

/* general hyperlinks */
a {
  color: #0d1321;
}

/* Major structural and layout containers */

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.resume-item-wrapper {
  padding: 1rem;
  border-bottom: 2px solid #fdf0d5;
  background: rgb(255, 255, 255, 0.2);
}

/*typography*/

.header {
  padding: 2rem;
}
.education {
  padding: 2rem;

  width: 100%;
}
.skills {
  padding: 2rem;

  width: 100%;
}
.paragraph-md {
  font-size: 2rem;
  color: #fdf0d5;
}

.paragraph-sm {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.work-experience {
  padding: 2rem;
}

.hero {
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.hero-heading {
  font-size: 8rem;
}
.hero-text {
  color: #fdf0d5;
  font-size: 2rem;
}

/*sizes*/

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 2.986rem;
  }
  h2 {
    font-size: 2.074rem;
  }
  h3 {
    font-size: 1.777rem;
  }
  .wrapper {
    flex-direction: row;
  }
  .education {
    width: 50%;
  }

  .skills {
    width: 50%;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-size: 3.157rem;
  }
  h2 {
    font-size: 2.074rem;
  }
  h3 {
    font-size: 1.44rem;
  }
}
