/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  font-family: "Rubik", sans-serif;
  padding: 1rem;
}

header {
  background: rgb(255, 135, 219);
  padding: 2rem;
}

.education {
  background: rgb(247, 212, 244);
  padding: 2rem;
}

.skills {
  background: rgb(188, 227, 255);
  padding: 2rem;
}

.paragraph-md {
  font-size: 1.5rem;
  color: rgb(255, 0, 242);
}

.paragraph-sd {
  font-size: 0.8rem;
  color: rgb(255, 0, 217);
}

h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: aliceblue;
  font-size: 5rem;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: aliceblue;
  font-size: 2rem;
  margin-bottom: 1rem;
}
