/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*non-class things, for basic format*/

body {
  font-family: "Unbounded", sans-serif;
}

header {
  font-size: 5rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 0.7rem;
}

li {
  font-weight: 300;
  padding: 0.2em;
  list-style-type: disc;
  margin-left: 2em;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2rem;
}

a {
  color: rgb(61, 61, 61);
  font-weight: 400;
}

/*index.html things*/

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(saturnbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-text {
  background: none;
  color: rgb(203, 197, 248);
  font-size: 3.5rem;
  align-self: center;
  justify-items: center;
}

.hero-sub {
  background: none;
  color: rgb(159, 140, 216);
  font-size: 2rem;
  font-weight: 200rem;
  padding: 1rem;
}

.index-sub {
  color: rgb(66, 186, 180);
  font-weight: 400;
}

.index-links {
  color: rgb(66, 186, 180);
  font-weight: 400;
  font-style: italic;
  padding: 1rem;
}

.index-links:hover {
  color: rgb(101, 96, 165);
  font-weight: 400;
  font-style: normal;
}

/*resume.html things*/
.top-nav {
  background-color: grey;
  color: white;
  padding: 2rem;
  padding-bottom: 1rem;
}

.contact {
  background-color: grey;
  color: white;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.education {
  background-color: rgb(115, 115, 115);
  color: rgb(176, 176, 176);
  padding: 2rem;
}

.edutext {
  padding-bottom: 0rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.hard-skills {
  background: rgb(85, 85, 85);
  padding: 2rem;
  padding-bottom: 2rem;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.soft-skills {
  background: rgb(85, 85, 85);
  padding: 2rem;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.workex {
  background-color: rgb(115, 115, 115);
  color: rgb(176, 176, 176);
  padding: 2rem;
}

.achievements {
  background: rgb(85, 85, 85);
  padding: 2rem;
  padding-bottom: 2rem;
  color: rgb(255, 255, 255);
}

.footer {
  text-align: center;
  background-color: grey;
  color: white;
  padding: 2rem;
}

/*small device (mobile) tings*/

@media (max-width: 992px) {
  header {
    font-size: 3rem;
  }
  /*index.html things*/
  .hero-text {
    text-align: center;
    font-size: 2rem;
  }
  .hero-sub {
    font-size: 1.2rem;
  }
  .index-links {
    font-size: 1rem;
    text-align: center;
  }

  /*resume.html things*/
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .hard-skills {
    padding-bottom: 0rem;
  }
  .h2-top {
    font-size: 1.5rem;
  }
}
