/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*non-class things, for basic format*/
body {
  font-family: "Unbounded", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

h3 {
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 0.7rem;
}

li {
  font-weight: 300;
  padding: 0.2em;
  list-style-type: disc;
  margin-left: 2em;
  line-height: 1.5rem;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8rem;
  color: rgb(203, 197, 248);
  padding-bottom: 1.8rem;
}

a {
  color: rgb(159, 140, 216);
}

a:hover {
  color: aliceblue;
}

/*index.html things*/

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(katbg-.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.hero-text {
  background: none;
  color: rgb(203, 197, 248);
  font-size: 2rem;
  align-self: center;
  justify-items: center;
  text-align: center;
}

.hero-sub {
  background: none;
  color: rgb(159, 140, 216);
  font-size: 1.2rem;
  font-weight: 200rem;
  padding-bottom: 0.5rem;
}

.sub-text {
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
  line-height: 1.5rem;
}

.index-sub {
  color: rgb(66, 186, 180);
  font-weight: 400;
  text-align: center;
}

.index-links {
  color: rgb(66, 186, 180);
  font-weight: 400;
  font-style: italic;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
}

.index-links:hover {
  color: aliceblue;
  font-weight: 400;
  font-style: normal;
}

/*about.html things*/
.aboutwrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(katbg-.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutcol {
  margin: 3rem;
  display: flex;
  flex-direction: column;
}

.abouth {
  align-self: left;
  text-align: left;
  color: rgb(203, 197, 248);
}

.aboutimg {
  border: 3px solid white;
}

/*resume.html things*/
.h4 {
  color: rgb(66, 186, 180);
  padding-top: 0.3rem;
}

.resumeheader {
  background-image: url(katbg-.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

.top-nav {
  color: rgb(203, 197, 248);
  padding: 2rem;
  padding-bottom: 1rem;
}

.h2-top {
  color: rgb(159, 140, 216);
  font-size: 1rem;
}

.resume-h2 {
  color: rgb(203, 197, 248);
}

.list-header {
  color: rgb(203, 197, 248);
  padding-bottom: 0.5rem;
}

.return {
  color: rgb(66, 186, 180);
  font-weight: 400;
  font-style: italic;
  font-size: 1.1rem;
}

.return:hover {
  font-style: normal;
}

.contact {
  color: rgb(159, 140, 216);
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.contactinfo {
  color: rgb(66, 186, 180);
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
}

.education {
  background-color: rgb(41 33 72);
  color: #9f8cd8;
  padding: 2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.hard-skills {
  background-color: rgb(19 14 36);
  padding: 2rem;
  padding-bottom: 0rem;
  color: rgb(159, 140, 216);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.soft-skills {
  background-color: rgb(19 14 36);
  padding: 2rem;
  padding-bottom: 2rem;
  color: rgb(159, 140, 216);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.workex {
  background-color: rgb(41 33 72);
  color: #9f8cd8;
  padding: 2rem;
}

.work-link {
  color: rgb(66, 186, 180);
  font-style: italic;
  font-weight: 400;
}

.work-link:hover {
  font-style: normal;
}

.achievements {
  background-color: rgb(19 14 36);
  padding: 2rem;
  padding-bottom: 2rem;
  color: rgb(159, 140, 216);
}

.footer {
  text-align: center;
  background-image: url(katbg-.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
}

/*small device (mobile) tings*/

@media (min-width: 992px) {
  header {
    font-size: 5rem;
  }

  h2 {
    font-size: 2rem;
  }

  /*index.html things*/

  .hero {
    background-position-x: center;
  }

  .hero-text {
    font-size: 3.5rem;
  }

  .hero-sub {
    font-size: 2rem;
  }
  .sub-text {
    font-size: 1.2rem;
  }
  .index-links {
    font-size: 1rem;
    text-align: center;
  }

  /*about.html things*/
  .aboutwrap {
    flex-direction: row;
    align-items: center;
  }

  /*resume.html things*/
  .wrapper {
    flex-direction: row;
  }
  .hard-skills {
    padding-bottom: 2rem;
  }
  .h2-top {
    font-size: 1.5rem;
  }
  .return {
    font-size: 1.5rem;
  }
}
