/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(saturnbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-text {
  background: none;
  color: rgb(203, 197, 248);
  font-size: 3.5rem;
  align-self: center;
  justify-items: center;
}

.hero-sub {
  background: none;
  color: rgb(159, 140, 216);
  font-size: 1.5rem;
  font-weight: 200rem;
  padding: 1rem;
}

.index-sub {
  color: rgb(66, 186, 180);
  font-weight: 400;
}

.index-links {
  color: rgb(66, 186, 180);
  font-weight: 400;
  font-style: italic;
  padding: 1rem;
}

.index-links:hover {
  color: rgb(101, 96, 165);
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Unbounded", sans-serif;
}

header {
  background: rgb(162, 156, 205);
  padding: 2rem;
  padding-bottom: 0rem;
  font-size: 5rem;
  font-weight: 700;
  color: rgb(100, 75, 142);
}

.h2-top {
  background: rgb(162, 156, 205);
  padding: 2rem;
  padding-top: 0.1em;
  font-size: 2.5rem;
  font-weight: 600;
  color: rgb(100, 75, 142);
}

h2 {
  padding-bottom: 0.3em;
  padding-top: 0.5em;
}

.education {
  background: rgb(182, 188, 237);
  margin: 1rem;
  padding: 1em;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(101, 96, 165);
}
.wrapper {
  border: 10px;
}
.hard-skills {
  background: rgb(182, 210, 237);
  padding: 2rem;
  padding-bottom: 0rem;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(88, 126, 155);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.soft-skills {
  background: rgb(182, 210, 237);
  padding: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(88, 126, 155);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.workex {
  background: rgb(182, 237, 232);
  margin: 1rem;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(88, 155, 145);
}

.contact {
  background: rgb(182, 237, 215);
  margin: 0.5rem;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(88, 155, 118);
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  padding-top: 1rem;
  padding-bottom: 0.4rem;
}

li {
  font-size: 1rem;
  font-weight: 300;
  padding: 0.2em;
  list-style-type: disc;
  margin-left: 2em;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

.a-1 {
  color: rgb(95, 78, 144);
  font-weight: 500;
  padding: 1rem;
}

.a-1:hover {
  color: rgb(101, 96, 165);
}

/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
  .wrapper {
    display: flex;
    flex-direction: row;
  }
  .hard-skills,
  .soft-skills {
    width: 150%;
    padding-bottom: 2rem;
  }
  header {
    font-size: 3rem;
  }
  .h2-top {
    font-size: 1.5rem;
  }
  .hero-text {
    text-align: center;
  }
  .index-links {
    font-size: 1rem;
    text-align: center;
  }
}
