/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Stalinist+One&display=swap");

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  background: #000000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 9%,
    rgba(0, 67, 115, 1) 71%,
    rgba(75, 0, 237, 1) 100%
  );
  padding: 1rem;
}
header {
  padding: 2rem;
}

/* Typography styles */
h1 {
  font-family: "stalinist one", cursive;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;

  color: white;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  margin-bottom: 1rem;
}
h3 {
  margin-bottom: 1rem;
}
p {
  font-size: 1.5rem;
  font-family: "IBM Plex Mono", monospace;
  margin-bottom: 1.5rem;
  color: white;
}

ul {
  color: white;
}
/* Hyperlink styles */

a {
  color: black;
  margin-bottom: 1rem;
  border: 0.15rem solid white;
  border-radius: 0.15rem;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  background-color: white;
  font-size: 0.75rem;
  flex-direction: column;
}
a:hover {
  color: white;
  background: none;
}

/* Specific class styles */

.education {
  margin-bottom: 2rem;
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.skills {
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: center;
  border-top: 1px solid white;
}
.skills-title {
  margin-top: 2rem;
}
.paragraph-md {
  font-size: 1rem;
  text-align: center;
}
.paragraph-sm {
  font-size: 0.8rem;
  color: dodgerblue;
}

.experience,
.life-experience {
  text-align: center;
  margin-bottom: 3rem;
}
footer {
  text-align: center;
}

.resume {
  margin-top: 1rem;
}

.job-title {
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
}

footer {
  padding: 2rem;
  border-top: 1px solid white;
}
li {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.hero {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.resume-link {
  border: none;
  border-radius: none;
  background: none;
}
.education-title {
  margin-top: 0.75rem;
}
.life-experience {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-coordinator {
  font-weight: 600;
}

@media (min-width: 768px) {
  .skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
  }
  .resume-wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: row;
  }
  .experience {
    width: 50%;
  }
  .life-experience {
    width: 50%;
  }
  a {
    color: black;
    margin-bottom: 1rem;
    border: 0.15rem solid white;
    border-radius: 0.15rem;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    background-color: white;
    font-size: 1rem;
  }
  h1 {
    font-family: "stalinist one", cursive;
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 1rem;

    color: white;
  }
  p {
    font-size: 1.5rem;
    font-family: "IBM Plex Mono", monospace;
    margin-bottom: 1.5rem;
    color: white;
  }

  /* h1 {
  font-family: "stalinist one", cursive;
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
  padding-top: 2rem;

  color: white;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  margin-bottom: 1rem;
}
h3 {
  margin-bottom: 1rem;
}
p {
  font-size: 1.5rem;
  font-family: "IBM Plex Mono", monospace;
  margin-bottom: 1.5rem;
  color: white;
}

ul {
  color: white; */
}
