/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Rubik", sans-serif;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  border: 10px solid red;
  padding: 1rem;
  background: lavender;
}
header {
  background: lightblue;
  padding: 2rem;
}
.education {
  background: goldenrod;
  padding: 2rem;
}
.skills {
  background: hotpink;
  padding: 2rem;
}
.paragraph-md {
  font-size: 1rem;
}
.paragraph-sm {
  font-size: 0.8rem;
  color: dodgerblue;
}
h1 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: darkblue;
}
.experience {
  background: lightgreen;
  padding: 2rem;
}
h2.job-title {
  font-size: 2rem;
}
footer {
  background: lightseagreen;
  padding: 2rem;
}
li {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

@media (min-width: );
