/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Stalinist+One&display=swap");

body {
  font-family: "Rubik", sans-serif;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  background: #000000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 9%,
    rgba(0, 67, 115, 1) 71%,
    rgba(75, 0, 237, 1) 100%
  );
  padding: 1rem;
}
header {
  background: lightblue;
  padding: 2rem;
}
.education {
  background: goldenrod;
  padding: 2rem;
}
.skills {
  background: hotpink;
  padding: 2rem;
}
.paragraph-md {
  font-size: 1rem;
}
.paragraph-sm {
  font-size: 0.8rem;
  color: dodgerblue;
}
h1 {
  font-family: "stalinist one", cursive;
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: white;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: darkblue;
}
p {
  font-size: 1.5rem;
  font-family: "IBM Plex Mono", monospace;
  margin-bottom: 1.5rem;
  color: white;
}
a {
  color: black;
  margin-bottom: 1rem;
  border: 0.15rem solid white;
  border-radius: 0.15rem;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  background-color: white;
}
a:hover {
  color: white;
  background: none;
}
.resume {
  margin-top: 1rem;
}
.experience {
  background: lightgreen;
  padding: 2rem;
}
h2.job-title {
  font-size: 2rem;
}
footer {
  background: lightseagreen;
  padding: 2rem;
}
li {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.hero {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
