/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Stalinist+One&display=swap");

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  background: #000000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 9%,
    rgba(0, 67, 115, 1) 71%,
    rgba(75, 0, 237, 1) 100%
  );
  padding: 1rem;
}
header {
  padding: 2rem;
}

/* Typography styles */
h1 {
  font-family: "stalinist one", cursive;
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: white;
}
h2 {
  font-size: 2.25rem;
  font-weight: 500;
  color: white;
  margin-bottom: 2rem;
}
h3 {
  margin-bottom: 1rem;
}
p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.2;
}

ul {
  color: white;
}
footer {
  padding: 2rem;
  border-top: 1px solid white;
  margin-left: 4rem;
  margin-right: 4rem;
}
li {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  line-height: 1.3;
  font-family: "IBM Plex Mono", monospace;
}
/* Hyperlink styles */

a {
  color: black;
  margin-bottom: 1rem;
  border: 0.15rem solid white;
  border-radius: 0.15rem;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  background-color: white;
  font-size: 0.75rem;
  flex-direction: column;
}
a:hover {
  color: white;
  background: none;
}
.webring {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}
.webring a {
  width: 90vw;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
}

/* Specific class styles */

.subtitle {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0rem;
}

.education {
  margin-bottom: 0.5rem;
  margin-left: 4rem;
  margin-right: 4rem;
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.skills {
  margin-bottom: 1rem;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  text-align: center;
  border-top: 1px solid white;
}
.skills-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.paragraph-md {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}
.paragraph-sm {
  font-size: 0.8rem;
  color: dodgerblue;
}
.bullet-list {
  list-style-type: disc;
}

.experience {
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
}
.life-experience {
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.section-title {
  text-align: center;
}
footer {
  text-align: center;
}

.job-title {
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
}

.hero {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.resume-link {
  border: none;
  border-radius: none;
  background: none;
}
.education-title {
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
}
.job-title {
  font-weight: 500;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.company {
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
}
.job-description {
  line-height: 1.3;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.contact {
  margin-bottom: 2rem;
}
.resume-wrapper {
  margin-left: 4rem;
  margin-right: 4rem;
}

/* Desktop */

@media (min-width: 992px) {
  .skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
  }
  .resume-wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: row;
  }
  .experience {
    width: 50%;
  }
  .life-experience {
    width: 50%;
  }
  a {
    font-size: 1rem;
  }
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .webring {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40vw;
  }
  .webring a {
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 40vw;
  }
  .company {
    text-align: center;
    font-size: 1.25rem;
  }
  .job-description {
    font-size: 0.9rem;
  }
}
