/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.resume-header {
  background-color: lightblue;
  padding: 2rem;
  font-size: 3rem;
  color: darkslategrey;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}
h2 {
  font-size: 1.8rem;
}
body {
  font-family: "Rubik", sans-serif;
  padding: 1rem;
}
.objective {
  background-color: lightskyblue;
  padding: 2rem;
}
.education {
  background-color: lavender;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.education-main {
  padding: 2rem;
}
.education-heading {
  padding: 2rem;
}
.skills {
  background-color: lightskyblue;
  padding: 2rem;
}

.extracurricular {
  background-color: lavender;
  padding: 2rem;
}
.experience {
  background-color: lightskyblue;
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .education {
    flex-direction: row;
    padding: 2rem;
  }
}
