/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Rubik", sans-serif;
  padding: 1rem;
}

header {
  background-color: lightblue;
  padding: 2rem;
  font-size: 3rem;
  color: darkslategrey;
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

.education {
  background-color: lavender;
  padding: 2rem;
}
.skills {
  background-color: lightskyblue;
  padding: 2rem;
}
.para-sm {
  font-size: 0.8rem;
  color: gray;
}
.para-reg {
  font-size: 1.2rem;
  color: gray;
}
