/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.resume-header {
  padding: 4rem;
  font-size: 3rem;
  color: #000000;
  font-family: "DM Serif Text", serif;
  font-style: normal;
  text-align: center;
}
h2 {
  font-size: 1.8rem;
}
body {
  font-family: "Rubik", sans-serif;
  padding: 1rem;
  background-image:
    linear-gradient(
      in oklch longer hue to right,
      oklch(0.93 0.08 var(--hue1) / 50%),
      oklch(0.93 0.08 var(--hue2) / 50%)
    ),
    linear-gradient(
      in oklch longer hue to bottom,
      oklch(0.93 0.08 var(--hue1) / 50%),
      oklch(0.93 0.08 var(--hue2) / 50%)
    );

  background-size: 100% 100%;
  animation-name: anim_bg;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.education,
.objective,
.experience,
.extracurricular,
.skills {
  padding: 2rem;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
}

.education-main,
.objective-main,
.experience-main,
.extracurricular-main,
.education-heading,
.objective-heading,
.experience-heading,
.extracurricular-heading,
.skills-heading,
.skills-main {
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .education,
  .objective,
  .experience,
  .extracurricular,
  .skills {
    flex-direction: row;
    padding: 2rem;
  }
}
@keyframes anim_bg {
  0% {
    --hue1: 0deg;
    --hue2: 300deg;
  }

  100% {
    --hue1: 360deg;
    --hue2: 660deg;
  }
}
@property --hue1 {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@property --hue2 {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
